<section class="steps --section-padding-top --bg-sep">
    <div class="container">
        <h2 class="steps__title --h2 --title-line-blue">
            схема работы
        </h2>
        <div class="steps__list">
            <div class="steps__list-item">
                <div class="steps__list-counter --main">01</div>
                <h3 class="steps__list-title --h3">Знакомство</h3>
                <p class="steps__list-text --p --txt2">
                    Безусловно, сплочённость команды профессионалов позволяет оценить значение форм воздействия.
                </p>
                <a href="#" class="steps__list-link --main --bold">
                    Оставить заявку
                </a>
            </div>
            <div class="steps__list-item">
                <div class="steps__list-counter --main">02</div>
                <h3 class="steps__list-title --h3">Заключение договора</h3>
                <p class="steps__list-text --p --txt2">
                    Лишь интерактивные прототипы призваны к ответу.
                </p>
            </div>
            <div class="steps__list-item">
                <div class="steps__list-counter --main">03</div>
                <h3 class="steps__list-title --h3">Производство</h3>
                <p class="steps__list-text --p --txt2">
                    А также стремящиеся вытеснить традиционное производство, нанотехнологии функционально разнесены на независимые элементы.
                </p>
            </div>
            <div class="steps__list-item">
                <div class="steps__list-counter --main">04</div>
                <h3 class="steps__list-title --h3">Доставка</h3>
                <p class="steps__list-text --p --txt2">
                    В частности, экономическая повестка сегодняшнего дня говорит о возможностях приоритизации разума над эмоциями.
                </p>
            </div>

        </div>
    </div>
</section>