@include font-face("Bebas Neue", "Bebas Neue", 400);
@include font-face("BebasNeue-Regular", "BebasNeue-Regular", 400);
@include font-face("NotoSans-SemiBold", "NotoSans-SemiBold", 400);
@include font-face("NotoSans-Bold", "NotoSans-Bold", 400);
@include font-face("NotoSans_Condensed-Bold", "NotoSans_Condensed-Bold", 400);
@include font-face("NotoSans_Condensed-Regular", "NotoSans_Condensed-Regular", 400);
@include font-face("NotoSans_Condensed-SemiBold", "NotoSans_Condensed-SemiBold", 400);
@include font-face("NotoSans-Regular", "NotoSans-Regular", 400);
